/*
Author: Kathy Stanton
Date: 11/16/24
File Name: breakout.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

 body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #72b9f8;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

 }

 canvas {
    border-style: solid;
    border: 1px solid#170386;
    background-color: #8fc1f4;
}


h1 {
    color:#02497a;
    font-size: 2em;
    margin-top: 10px;
    text-align: center;
   
}

/* 
Remember, since the canvas element has the id=myCanvas, selecting it
for styling can be as easy as:

 #myCanvas {
    border-style: solid;
} 
    
Of course, since there will only be one canvas element on the page, you could also just use
/*
canvas {
    border-style: solid;
}

Tip: I like to style my homework assignments to match my text editor's theme.
*/

